.infiniteScroll {
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.infinite-scroll {
  padding-top: 3rem;
  font-weight: bold;
}

.infiniteScroll div {
  width: 100px;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}
